/* ------------------共用結構設定------------------ */
/*  ---------------頁首頁尾設定--------------- */
#header, #footer{
    width: calc(100% - 20px);
    padding: 0 10px;
    box-sizing: border-box;
}
.special{
    display: none;
}
#header{
    height: 150px;
}
#logo{
    width: 150px;
    height: 150px;
    margin: 40px;
}
#logo a{
    width: 150px;
    height: 150px;
}
#banner{
    margin: 15px;
}

/*  ---------------選單設定--------------- */
/* --------外層選單設定-------- */
#nav{
    width: 50%;
    margin-top: 30px;
}

/* --------上層選單設定-------- */
#top-nav{
    width: 70%;
    margin: 5px 100px 5px 0;
    justify-content: flex-end;
    font-size: var(--normal);
}
#top-nav a{
    margin-left: 20px;
    margin-top: 10px;
}
@media (max-width: 640px){ /*至少須考慮到460px*/
    #nav{
        width: 300px;
    }
    #top-nav a{
        width: 40px;
        margin-top: 8px;
    }
}
@media (max-width: 549px){
    #nav{
        width: 80px;
    }
    #top-nav{
        display: none;
    }
}

/* --------主選單設定-------- */
#main-nav{
    float: none;
    position: fixed;
    top: 40px;
    right: 25px;
    z-index: 9999;
    font-size: var(--h6);
}
#main-nav a{
    float: none;
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    background-color: #ffffff00;
    color: var(--grey);
}

/* --------次選單經過設定-------- */
#main-nav a:hover, #main-nav a:active{
    color: var(--grey);
    border-bottom: none;
    text-transform: uppercase;
}
#main-nav li{
    float: none;
}
.highlight_txt{
    border-bottom: none;
    background-color: rgba(98, 234, 247, 0.3);
    color: var(--grey);
}

/* --------展開次選單設定-------- */
#main-nav li li:first-child{
    margin-top: 35px;
}
#main-nav li li a{
    display: block;
    margin-right: 30px;
    float: left;
    font-size: var(--normal);
}
@media (max-width: 550px){
    #main-nav li li a{
        margin-right: 15px;
    }
}
@media (max-width: 480px){
    #main-nav li li a{
        margin-right: 10px;
    }
}
@media (max-width: 440px){
    #main-nav li li a{
        margin-right: 0px;
    }
}
@media (max-width: 400px){
    #main-nav li li a{
        margin-right: -10px;
    }
}
#main-nav ul ul{
    transform: translate(450%, -67%);
    visibility: hidden;
}
@media (max-width:768px){
    #main-nav ul ul{
        transform: translate(400%, -67%);
    }
}
@media (max-width:640px){
    #main-nav ul ul{
        transform: translate(300%, -67%);
    }
}
#main-nav ul ul a{
    width: 100px;
}

/* --------經過展開次選單設定-------- */
#main-nav li:hover > ul{
    visibility: visible;
}
.menu > div > div > ul > li > a{
    transition: all .4s ease;
}

/* --------漢堡選單設定-------- */
.toggler{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.hamburger{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
    padding: 12px;
    background-color: var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger > div{ /*漢堡選單-中間的線*/
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: all .4s ease;
}
.hamburger > div::before, .hamburger > div::after{
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    height: 2px;
    width: 100%;
    background-color: inherit; /*繼承父層*/
}
.hamburger > div::after{ /*漢堡選單-第三條線*/
    top: 10px;
}

/* ------漢堡選單點擊旋轉------ */
.toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

/* ------變X------ */
.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}

/* ------開啟時滑鼠經過動畫------ */
.toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

/* ------開啟後秀出選單------ */
.toggler:checked ~ .menu{
    visibility: visible;
}

/* ------開啟時選單背景大小及動畫------ */
.toggler:checked ~ .menu > div{
    transform: scale(1); /*原大小*/
    transition-duration: 0.75s;
}
.toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity .4s ease;
}

/* ------選單內容格式------ */
.menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------關閉時選單背景大小及動畫------ */
.menu > div{
    background-color: rgba(255,255,255,.9);
    border-radius: 50%;
    width: 300vw;
    height: 300vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .4s ease;
}
.menu > div > div{
    width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
    text-align: center;
}

/* ------SNS選單設定------ */
#nav-sns{
    display: block;
    margin-top: 30px;
}
#nav-sns a{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 5px;
}
#nav-sns a:hover{
    background-color: #ffffff00;
}

/*  ---------------橫幅SHOP NOW設定--------------- */
.hero-image{
    margin-bottom: 0;
}
@media (max-width: 560px){
    .hero-image{
        height: 350px;
    }
}
.hero-text h1{
    font-size: 30px !important;
}
.hero-text p{
    font-size: var(--small) !important;
    line-height: 1.2;
}

/*  ---------------頁尾設定--------------- */
#footer{
    margin: 30px auto;
    height: auto;

}
#small-logo, #sns{
    display: none;
}
#copyright small, #copyright a{
    padding-top: 10px;
    display: block;
}
#copyright{
    text-align: center;
    width: 100%;
    font-size: var(--normal);
    padding-top: 0;
}
.submenu{
    height: auto;
    border-bottom: solid 15px var(--primary);
    text-align: center;
}
.submenu a{
    margin: 0;
    font-size: 20px;
}
@media (max-width: 680px) {
    .submenu a{
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .submenu a{
        padding: 5px 10px 0 8px;
    }
}
@media (max-width: 460px) {
    .submenu a{
        font-size: 12px;
    }
}

/*  ---------------內頁版面設定--------------- */
/* --------首頁設定-------- */
/* --------內容區設定-------- */
#main-content{
    width: calc(100% - 20px);
    padding: 0 auto;
}
.slogan, .post{
    width: 80%;
    margin: 30px auto;
    float: none;
    padding-bottom: 20px;
}
.slogan, .post, .post_text{
    height: auto;
}

.post{
    padding-bottom: 30px;
    border-bottom: solid 1px var(--light);
}
.slogan h2, .post_title{
    font-size: var(--h4);
}
.slogan p, .post_text{
    font-size: var(--h6);
}
.post_title{
    padding: 15px 0;
}
.post_img{
    width: 100%;
}
.post_text{
    width: calc(100% - 80px);
    padding: 15px 40px;
    line-height: 1.2;
}
.post .more{
    margin-top: 0;
    padding-right: 50px;
    font-size: var(--normal);
}
.post .more a{
    font-weight: normal;
}

/* --------影片設定-------- */
#movie{
    height: 350px;
}
#movie iframe{
    height: 350px;
}

/* --------圖片展示區設定-------- */
.product_list{
    margin: 10px;
}
.productbox{
    padding: 10px;
    width: calc(50% - 30px);
    height: auto;

}
#main-content h5{
    text-align: center;
    padding-top: 20px;
}
.productbox h6{
    margin: 10px 0 20px;
    line-height: 1.2;
}
.productbox p{
    margin: 20px 10px;
}
.productbox .more{
    margin-bottom: 15px;
    text-align: center;
}
@media (max-width:620px){
    .productbox{
        width: 95%;
        margin: 20px auto;
        float: none;
    }
}
.product_list button{
    left: 40%;
}
@media (max-width:620px){
    .product_list button{
        left: 35%;
    }
}

/* --------About版面設定-------- */
/* ----設計師介紹區塊設定---- */
.designer{
    width: calc(100% - 20px);
    height: 300px;
    left: 15%;
}
@media (max-width: 900px){
    .designer{
        height: 200px;
    }
    .designer img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 730px){
    .designer{
        left: 10%;
    }
    .designer .introduction{
        width: 300px;
        margin: 30px;
    }
}
@media (max-width: 650px){
    .designer{
        height: auto;
        display: block;
        text-align: center;
        margin: 30px auto;
        left: 0;
    }
    .designer img{
        width: 250px;
        height: 250px;
    }
    .designer .introduction{
        margin: 8px auto;
    }
}

/* ----產品圖設定---- */
#picshow{
    flex-wrap: wrap;  /*圖片往下流*/
    padding: 20px 0;
}
#picshow a{
    width: calc(50% - 20px);
    height: 450px;
    margin: 10px auto;
}
#picshow a img{
    height: 450px;
}
@media (max-width: 650px){
    #picshow a{
        height: 400px;
    }
    #picshow a img{
        height: 400px;
    }
}
@media (max-width: 500px){
    #picshow a{
        height: 300px;
    }
    #picshow a img{
        height: 300px;
    }
}
@media (max-width: 430px){
    #picshow a{
        height: 250px;
        margin: 5px auto;
    }
    #picshow a img{
        height: 250px;
    }
}

/* ----表單&地圖設定---- */
#connect_form, #map{
    width: calc(100% - 20px);
    padding: 0 10px;
    float: none;
    margin-bottom: 30px;
}
#connect_form input, #connect_form textarea{
    border-radius: 8px;
}
#connect_form textarea{
    height: 250px;
}
#map iframe{
    box-shadow: 0 0 8px var(--grey);
    border-radius: 20px;
}

/* --------Pick挑選版面設定-------- */
#main-content h2{
    margin: 20px auto;
    text-align: center;
}
.size_pic{
    width: 820px;    
    margin: 15px auto;
}
.size_pic img{
    width: 100%;
}
@media (max-width:880px){
    .size_pic{
        width: 700px; 
    }
}
@media (max-width:730px){
    .size_pic{
        width: 600px; 
    }
}
@media (max-width:630px){
    .size_pic{
        width: 500px; 
    }
}
@media (max-width:520px){
    .size_pic{
        width: 400px; 
    }
}

/* ----3圖區塊設定---- */
.features_box{
    height: 320px;
    padding: 10px;
    display: flex;
}
.features_box > .pic_circle{
    border-radius: 0;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); /*clip-path遮罩網站https://bennettfeely.com/clippy/*/
    width: 33.33%;
    height: 375px;
    position: static;
    left: 0;
    bottom: 0;
    transform: translate(0%, 0%);
    box-shadow: none;
    float: none;
}
@media (max-width:768px){
    .features_box{
        height: 900px;
        margin-top: -20px;
        display: block;
    }
    .features_box > .pic_circle{
        width: 100%;
        height: 33.33%;
        border-radius: 20px;
        clip-path: inset(0 0 0 0); /*重新設定4個角*/
        margin-bottom: 20px;
    }
}
/* --------Products所有產品版面設定-------- */
#product_nav .material-icons{
    right: -50px;
    top: 8px;
}
.demobox{
    width: 48%;
    height: auto;
    margin: 15px 5px;
    padding: 10px 3px;
}
.demobox a div{
    width: 100%;
}
@media (max-width: 875px){
    #product_nav .material-icons{
        right: -10px;
    }
}
@media (max-width: 690px){
    .left h5{
        font-size: var(--h6);
        margin: 0;    
    }
    #product_nav .material-icons{
        right: 0;
    }
    .demobox{
        width: 45%;
    }
}
@media (max-width: 645px){
    .left h5{
        font-size: 14px;
        margin: 0;    
    }
    #product_nav ul a{
        width: 100%;
        height: 35px;
        font-size: 14px;
        margin-left: 10px;
    }
    #product_nav .material-icons{
        right: 12px;
    }
    .demobox{
        width: 100%;
    }
    .demobox a div{
        height: 400px;
        margin: 10px;
    }
}

/* ----頁碼導覽設定---- */
@media (max-width: 459px){
    #nav_bar a{
        width: 20px;
        margin: 0 8px;
    }
    #nav_bar [class^="icon-"]{
        font-size: var(--small);
    }
    #nav_bar a .icon_num{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: 0 3px;
    }
}

/* --------News海邊生活版面設定-------- */
#main-content h4{
    text-align: center;
}
.latest{
    width: 760px;
    margin: 10px auto;
}
.newspost{
    width: calc(50% - 15px);
    margin: 0 15px;
}
.newspost_text{
    width: 80%;
}
.news_personal{
    width: calc(960px - 20px);
    height: 430px;
    margin: 0 auto;
}
.news_personalpost{
    width: 30%;
    height: 400px;
}
.newspost_title{
    font-size: 16px;
}

/* 小文章：人物專訪、特別企劃 */
.news_personal, .news_special{
    width: 760px;
    margin: 10px auto;
}
.news_personalpost_img img{
    height: 180px;
}
.news_personalpost_text{
    width: 82%;
    height: 80px;
    padding: 15px 0 0 20px;
    font-size: var(--small);
    line-height: 1.4; /*行高*/
    text-align: justify;
}
@media (max-width: 770px){
    .latest{
        width: 500px;
        height: auto;
        display: block;
    }
    .newspost{
        width: 100%;
        margin: 20px auto;
    }
    .news_personal, .news_special{
        width: 500px;
        height: auto;
        display: block;
    }
    .news_personalpost{
        width: 100%;
        height: 500px;
        margin: 20px auto;
    }
    .news_personalpost_img img{
        height: 250px;
    }
    .news_personalpost_text{
        width: 88%;
        padding: 0;
        margin: 15px auto;
    }
}
@media (max-width: 530px){
    .latest{
        width: 430px;
    }
    .newspost{
        width: 100%;
        margin: 20px auto;
    }
    .news_personal, .news_special{
        width: 430px;
    }
}

/* --------人物專訪版面設定-------- */
.column img, figure img{
    opacity: 1;
    filter: grayscale(0);
}
#main-content .row .column{
    height: auto;
}
#main-content .row .column .more{
    bottom: -10px;
}
.row_more{
    text-align: center;
}
@media (max-width: 640px){
    #main-content .row{
        display: block;
        margin: 0 auto;
    }
    #main-content .row .column{
        width: 45%;
        height: auto;
        flex: none;
        float: left;
        padding: 0 10px;
    }
    #main-content .row .column .more{
        bottom: -10px;
    }
}

/* 直式流動圖 */
.column-count{
    column-count: 2;
}
@media (max-width: 640px){
    .column-count{
        column-count: 1;
    }
}

/* --------特別企劃版面設定-------- */
.leftcolumn, .rightcolumn{
    float: none;
    width: 100%;
}

/* ----圖文區塊設定---- */
.card{
    padding: 15px;
    margin: 15px;
}
.card h2{
    text-align: center;
}
.rightcolumn .card p{
    line-height: 1.3;
}


/* --------Stores版面設定-------- */
.storepost{
    margin: 20px auto;
    position: relative;
}
.store_pic{
    width: 100%;
    height: auto;
    float: none;
}
.store_pic img{
    height: 600px;
    width: 100%;
}
.store_txt{
    width: 100%;
    height: 50%;
    padding: 10px 40px;
    float: none;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
}
.store_txt .category{
    border-radius: 30px;
    border: 1px solid var(--grey);
}
@media (max-width: 840px){
    .store_pic img{
        height: 450px;
    }
    .store_txt{
        height: 25%;
        padding: 10px 20px;
    }
    .store_txt .category{
        border-radius: 30px;
    }
    .store_txt h4{
        margin-left: 10px;
        font-size: 20px;
    }
    .store_txt p{
        display: none;
    }
    .store_txt .more{
        bottom: 25px;
    }
}
@media (max-width: 600px){
    .store_txt p, .store_txt .more, .category, .category a, .category .date{
        display: none;
    }
    .store_pic img{
        height: 350px;
    }
    .store_txt{
        height: auto;
        padding: 5px 20px;
    }
    .category{
        line-height: 1;
    }
    .store_txt h4{
        position: relative;
    }
    .store_txt h4::after{
        content: "Click picture to see more...";
        color: var(--blue);
        display: inline-block;
        width: 40%;
        line-height: 1;
        font-size: 80%;
        font-weight: 800;
        text-align: right;
        position: relative;
        left: 25%;
    }
}

